@import "../styles/styles.scss";

.article-main {
  margin: 4vh 10vw;
}

.article-container {
  @include flex-center(column);
  gap: 3vh;
}
.article-img {
  img {
    width: 900px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
}
.article-title {
  font-family: $helveticaMedium;
  font-weight: bold;
  font-size: $--38px;
  text-align: center;
}
.article-description {
  font-family: $poppins;
  font-size: $--18px;
  text-align: justify;
}
.article-subcontainer {
  @include flex-center();
  width: 100%;
  justify-content: space-between;
  margin-top: 1vh;
}
.article-data {
  font-family: $poppins;
  font-size: $--16px;
}
.articel-read-more {
  font-family: $poppins;
  font-size: $--16px;
  text-decoration: underline;
}
