$--16px: 1rem;
$--12px: 0.75rem;
$--14px: 0.875rem;
$--18px: 1.125rem;
$--24px: 1.5rem;
$--26px: 1.625rem;
$--32px: 2rem;
$--34px: 2.125rem;
$--38px: 2.375rem;
$--42px: 2.625rem;
$--48px: 3rem;
$--64px: 4rem;
$pri-col: #222222;
$poppins: var(--font-poppins);
$nunito: var(--font-nunito);
$josefin: var(--font-josefin);
$bebas: var(--font-bebas);
$squada: var(--font-squada);
$lato: var(--font-lato);
$helveticaBold: var(--font-helveticaBold);
$helveticaMedium: var(--font-helveticaMedium);
$proximaBlack: var(--font-proximaBlack);
$proxima: var(--font-proxima);

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.parent {
  min-height: 100vh;
}
.parent-container {
  margin-top: 4vh;
  display: flex;
  gap: 2vw;
  padding: 0vh 3vw;
}

//LEFT SIDE
.left {
  flex: 55%;
  .news-container {
    @include flex-center(column);
    flex-direction: column-reverse;
    gap: 3vh;
  }
  .news-title {
    font-family: $proxima;
    font-weight: bold;
    font-size: $--32px;
    text-align: left;
  }
  .news-description {
    display: none;
  }
  .news-read-more-link {
    display: none;
  }
  .news-date {
    font-size: $--14px;
    align-self: start;
    font-weight: 300;
  }
  .news-image {
    img {
      width: 900px;
      height: 450px;
      object-fit: cover;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}

//RIGHT SIDE
.right {
  flex: 45%;
  .news-container {
    @include flex-center();
    flex-direction: row-reverse;
    gap: 1vw;
    margin-bottom: 5vh;
  }
  .news-subcontainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .news-title {
    font-family: $proxima;
    align-self: flex-start;
    font-size: $--16px;
    font-weight: 600;
  }
  .news-description {
    color: gray;
    font-size: $--14px;
    font-family: $poppins;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .news-read-more-link {
    display: none;
  }
  .news-date {
    font-size: $--12px;
    align-self: flex-start;
    font-weight: 400;
  }
  .news-image {
    flex-shrink: 0;
    img {
      width: 200px;
      height: 120px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 0.5rem;
    }
  }
}

//GRID VIEW
.grid-view {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
    grid-auto-rows: minmax(300px, auto);
    padding: 0vh 3vw;
  }
  .news-item {
    height: 340px;
  }
  .news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }
  .news-title {
    font-family: $proxima;
    font-size: $--16px;
    font-weight: 600;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .news-description {
    display: none;
  }
  .news-read-more-link {
    font-size: $--12px;
    color: rgb(252, 62, 2);
  }
  .date-read {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
  }
  .news-image {
    img {
      width: 370px;
      height: 230px;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
  .news-date {
    font-size: $--12px;
    align-self: flex-end;
    font-weight: 300;
  }
}
