$--16px: 1rem;
$--12px: 0.75rem;
$--14px: 0.875rem;
$--18px: 1.125rem;
$--24px: 1.5rem;
$--26px: 1.625rem;
$--32px: 2rem;
$--34px: 2.125rem;
$--38px: 2.375rem;
$--42px: 2.625rem;
$--48px: 3rem;
$--64px: 4rem;
$pri-col: #9edf9c;
$poppins: var(--font-poppins);
$nunito: var(--font-nunito);
$josefin: var(--font-josefin);
$bebas: var(--font-bebas);
$squada: var(--font-squada);
$work_sans: var(--font-work_sans);

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.parent {
  display: flex;
  flex-direction: column;
  margin: 1vh auto;
}
.parent-container {
  display: flex;
  gap: 1vw;
}
.left {
  flex: 70%;
  .news-item {
    @include flex-center(column);
  }
  .news-title {
    font-family: $squada;
    font-size: $--38px;
    text-align: justify;
  }
  .news-description {
    display: none;
  }
}
.right {
  flex: 30%;
  .news-item {
    @include flex-center();
    gap: 1vw;
  }
}
.grid-view {
  .news-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
