@import "../../styles/styles.scss";

.nav-parent {
  background-color: black;
  color: white;
  font-family: $poppins;
  padding: 2vh 4vw;
}
.nav-container {
  @include flex-center();
  justify-content: space-between;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      color: $pri-col;
      transition: color 0.3s ease-in-out;
    }
  }
  ul {
    @include flex-center();
    list-style: none;
    gap: 2vw;
    font-weight: 500;
    font-size: $--18px;
  }
  &:hover {
    a,
    li {
      color: $pri-col;
      transition: color 0.3s ease-in-out;
    }
  }
}
