@import "../../styles/styles.scss";

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $poppins;
  padding: 2vh 4vw;
  background-color: $pri-col;
  color: white;
}

.nav-container {
  @include flex-center();
  justify-content: flex-start;
  gap: 2vw;
}

.nav-title {
  a {
    font-size: $--26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $proximaBlack;
    letter-spacing: 1px;
  }
}

.nav-pages {
  ul {
    @include flex-center();
    list-style: none;
    gap: 2vw;
    font-weight: 500;

    a {
      position: relative;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: currentColor;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
