@import "../../styles/styles.scss";

.footer-parent {
  margin-top: 4vh;
  background-color: $pri-col;
  color: white;
  padding: 1.5vh 2vw;
  font-family: $poppins;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  h3 {
    font-family: $proximaBlack;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: $--26px;
    text-transform: uppercase;
  }
  p {
    font-size: $--12px;
  }
}

.footer-right {
  ul {
    display: flex;
    gap: 2vw;
    align-items: center;
    font-size: $--14px;
  }
}
